In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [36]:
ds = pd.read_csv("survey.csv")
ds.head(15)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
7,2014-08-27 11:32:05,39,M,Canada,NaN,NaN,No,No,Never,1-5,...,Don't know,No,No,No,No,No,No,No,No,NaN
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
9,2014-08-27 11:32:43,23,Male,Canada,NaN,NaN,No,No,Never,26-100,...,Don't know,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN
10,2014-08-27 11:32:44,31,Male,United States,OH,NaN,No,Yes,Sometimes,6-25,...,Don't know,No,No,Some of them,Yes,No,No,Don't know,No,NaN
11,2014-08-27 11:32:49,29,male,Bulgaria,NaN,NaN,No,No,Never,100-500,...,Don't know,No,No,Yes,Yes,Yes,Yes,Don't know,No,NaN
12,2014-08-27 11:33:23,42,female,United States,CA,NaN,Yes,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,Yes,Yes,Yes,Maybe,Maybe,No,Yes,NaN
13,2014-08-27 11:33:26,36,Male,United States,CT,NaN,Yes,No,Never,500-1000,...,Don't know,No,No,Yes,Yes,No,No,Don't know,No,I'm not on my company's health insurance which...
14,2014-08-27 11:33:57,27,Male,Canada,NaN,NaN,No,No,Never,6-25,...,Somewhat easy,No,No,Some of them,Some of them,Maybe,Yes,Yes,No,NaN

In [53]:
# what are the persons with mental health problems?
#if the person look for treatment shows that the person have mental problems
ds["mental problem"] = ds["treatment"] =="Yes"

In [74]:
#if there is a correlation between working for a tech company and having mental problems.
#This code creates 3 new tables, Female, Male and other:
ds["Gender"].unique()
ds["Female"] = ds['Gender'].str.startswith("F" or "f" or "W" or "w")
#ds["Female"]

ds["Male"] = ds['Gender'].str.startswith("M" or "m")
print(ds["Male"])

ds["other_gender"] = ds["Gender"].str.startswith(not "F" or "f" or "W" or "w" or "M" or "m")
#ds["other_gender"]

0       False
1        True
2        True
3        True
4        True
5        True
6       False
7        True
8       False
9        True
10       True
11      False
12      False
13       True
14       True
15      False
16       True
17       True
18      False
19       True
20       True
21      False
22       True
23       True
24      False
25      False
26      False
27      False
28      False
29       True
        ...
1229     True
1230    False
1231    False
1232     True
1233     True
1234    False
1235     True
1236     True
1237    False
1238     True
1239    False
1240    False
1241     True
1242     True
1243    False
1244    False
1245     True
1246     True
1247    False
1248    False
1249     True
1250     True
1251     True
1252    False
1253     True
1254    False
1255     True
1256    False
1257    False
1258     True
Name: Male, Length: 1259, dtype: bool

In [80]:
ds.head(15)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,mental_vs_physical,obs_consequence,comments,Female,Male,other_gender,mental problem,sk_male,sk_female,sk_other
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Yes,No,NaN,True,False,False,True,False,True,False
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,No,NaN,False,True,False,False,False,True,True
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,No,No,NaN,False,True,False,False,False,True,True
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,No,Yes,NaN,False,True,False,True,True,False,False
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,NaN,False,True,False,False,False,True,True
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,NaN,False,True,False,False,False,True,True
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Don't know,No,NaN,True,False,False,True,False,True,False
7,2014-08-27 11:32:05,39,M,Canada,NaN,NaN,No,No,Never,1-5,...,No,No,NaN,False,True,False,False,False,True,True
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,No,No,NaN,True,False,False,True,False,True,False
9,2014-08-27 11:32:43,23,Male,Canada,NaN,NaN,No,No,Never,26-100,...,Yes,No,NaN,False,True,False,False,False,True,True
10,2014-08-27 11:32:44,31,Male,United States,OH,NaN,No,Yes,Sometimes,6-25,...,Don't know,No,NaN,False,True,False,True,True,False,False
11,2014-08-27 11:32:49,29,male,Bulgaria,NaN,NaN,No,No,Never,100-500,...,Don't know,No,NaN,False,False,False,False,True,True,True
12,2014-08-27 11:33:23,42,female,United States,CA,NaN,Yes,Yes,Sometimes,26-100,...,No,Yes,NaN,False,False,True,True,False,False,True
13,2014-08-27 11:33:26,36,Male,United States,CT,NaN,Yes,No,Never,500-1000,...,Don't know,No,I'm not on my company's health insurance which...,False,True,False,False,False,True,True
14,2014-08-27 11:33:57,27,Male,Canada,NaN,NaN,No,No,Never,6-25,...,Yes,No,NaN,False,True,False,False,False,True,True

In [105]:
#What is the percentage of males/females with mental problems:

#1) Define inside every category which are the percentage of male, female and other with mental problems:
def match_M(row):
    if (row['Male'] == True) and (row['mental problem'] == True):
        val = 1
    else:
        val = 0
    return val

def match_F(row):
    if (row['Female'] == True) and (row['mental problem'] == True):
        val = 1
    else:
        val = 0
    return val

def match_O(row):
    if (row['other_gender'] == True) and (row['mental problem'] == True):
        val = 1
    else:
        val = 0
    return val

ds['sk_male'] = ds.apply(match_M, axis=1)
ds['sk_female'] = ds.apply(match_F, axis=1)
ds['sk_other'] = ds.apply(match_O, axis=1)

total_doents = ds["mental problem"].sum()

sum_sk_male = ds["sk_male"].sum()
sum_sk_female = ds["sk_female"].sum()
sum_sk_other = ds["sk_other"].sum()

sum_sk_male

339

In [107]:
#2) Calculate the percentage of sick by genres:
percentage_males = sum_sk_male/total_doents
percentage_female = sum_sk_female/total_doents
percentage_other = sum_sk_other/total_doents

0.08791208791208792

In [121]:
#Is there a correlation between working for a tech company and having mental problems?

#1) Define the rows with people with mental problems and that work on a tech company:
def match_T(row):
    if (row['tech_company'] == "Yes") and (row['mental problem'] == True):
        val = 1
    else:
        val = 0
    return val

ds["tech_sk"] = ds.apply(match_T, axis=1)
sum_tech_sk = ds["tech_sk"].sum()

#2) Calculate the percentage of persons that work on a tech company that have mental problems:
percentage_tech_sk = sum_tech_sk/total_doents * 100
percentage_tech_sk

80.69073783359497

In [132]:
#there are genders differences between the aprproching mental health.
#1) Define the rows with people with males and negative perception on talking about mental health on the job:
def match_MP(row):
    if (row['Male'] == True) and (row['work_interfere'] == "Often" or "Sometimes"):
        val = 1
    else:
        val = 0
    return val

Total_responses = ds["Gender"].count()

ds["male_n_perc"] = ds.apply(match_MP, axis=1)
sum_male_n_perc = ds["male_n_perc"].sum()


#2) Define the rows with people with female and negative perception on talking about mental health on the job:
def match_FP(row):
    if (row['Female'] == True) and (row['work_interfere'] == "Often" or "Sometimes"):
        val = 1
    else:
        val = 0
    return val

ds["female_n_perc"] = ds.apply(match_FP, axis=1)
sum_female_n_perc = ds["female_n_perc"].sum()


#3) Define the rows with people with other and negative perception on talking about mental health on the job:
def match_OP(row):
    if (row['other_gender'] == True) and (row['work_interfere'] == "Often" or "Sometimes"):
        val = 1
    else:
        val = 0
    return val

ds["other_n_perc"] = ds.apply(match_OP, axis=1)
sum_other_n_perc = ds["other_n_perc"].sum()

#3) Calculate the percentage:
percentage_male_n_perc = sum_male_n_perc/Total_responses * 100
print("Males", percentage_male_n_perc)
percentage_female_n_perc = sum_female_n_perc/Total_responses * 100
print("Female", percentage_female_n_perc)
percentage_other_n_perc = sum_other_n_perc/Total_responses * 100
print("Other", percentage_other_n_perc)

Males 59.17394757744241
Female 13.105639396346305
Other 6.274821286735505

In [134]:
ds["Age"].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72], dtype=int64)

In [ ]:
X_train_data.loc[(X_train_data.Age < 13),  'AgeGroup'] = 'Kid'